.ContactDetails{
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;

}
/* .ContactDetails input{
  height: 30px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  background: #fff;
} */

@media(min-width:500px) {
  .ContactDetails{
    width:500px;
  }
}
